body {
	font-weight: 300;
}

hr.lg{
	margin-top: $hr-margin-y * 3;
	margin-bottom: $hr-margin-y * 3;
}

.error404 {
	.top-banner {
		display: none;
	}
	#primary #content {
		.h1, .h2, .h3, .h4, .h5, .h6 {
			color: theme-color("dark");
		}
	}
}

.btn {
	font-weight: 300;
}

.btn-dark:hover {
	background-color: #fff;
	color: black;
}

.footer-cta {
	@include media-breakpoint-down(xs){
		font-size: 13px;
	}
}

.footer-bottom {
	align-items: center;
	.footer-longevity:hover {
		color: #7c8087;
	}
	@include media-breakpoint-down(sm){
		flex-direction: column;
		& > *:not(:last-child){
			margin-bottom: 1rem;
		}
	}
}

.footer-bottom-logo img {
	width: 250px;
	@include media-breakpoint-down(xs){
		width: 100px;
	}
}

.flexible_2_column_grid {
	.grid-2-column {
		img {
			margin-bottom: 1rem;
		}
	}
}

.container-smaller {
	.container {
		max-width: 700px;
	}
}

// .header-wrapper {
// 	@include media-breakpoint-down(md){
// 		width: 100%;
// 	}
// }
html.sticky-header #site-header {
	@include media-breakpoint-down(md) {
		overflow-y: visible;
	}
	.site-logo {
		img {
			width: 450px;
			margin: auto;
			@include media-breakpoint-down(sm) {
				width: 250px;
			}
		}
	}
}

.thank-you {
	#content .h1, #content .h4 {
		@extend .text-dark;
	}
}

.main-navigation {
	@include media-breakpoint-down(md){
		position: absolute;
		top: 100%;
		left: 0;
	}
	.navbar-nav a {
		font-size: 13px;
		&:hover {
			color: #7c8087;
		}
	}
} 

.menu-ctas {

	a {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		&:hover {
			background-color: black;
			color: white;
		}
		i {
				margin-right: 5px;
			}
		@include media-breakpoint-up(md){
			margin-right: 10px;
		}
	}
}

// top banner

.top-banner {
	width: 100%;
	position: relative;
	.top-banner-image {
		width: 100%;
		height: 60vh;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.top-banner-overlay {
		position: absolute;
		left: 0;
		top: 0;
		justify-content: flex-start;
		z-index: 999;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.gform_wrapper {
	textarea.large {
		height: 160px !important;
	}
	.gform_footer {
		input[type=submit] {
			@extend .btn-dark;
			padding-top: 5px;
			padding-bottom: 5px;
			&:hover {
				background-color: transparent;
				color: black;
			}
		}
	} 
}

.beautiful-journey {
	img {
		max-width: 250px;
		margin:auto;
		display: block;
	}
	form {
		ul {
			display: flex !important;
			flex-wrap: wrap;
			li:nth-child(3){
				width: 100%;
			}
			li:nth-child(4){
				width: 100%;
			}
			li {
				width: 50%;
				@include media-breakpoint-down(md){
					width: 100%;
				}
				&:last-child {
					width: 100%;
				}
				input, textarea {
					border: 1px solid black;
					display: block;
					width: 100% !important;
					&::placeholder {
						color: black;
						font-weight: 300;
						padding-left: 7px;
						font-family: 'Open Sans', sans-serif;
						font-weight: 300;
					}
				}
				input {
					height: 45px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 300;
				}
			}
		}	
	}
}

// Heading


.btn-white {
	background-color: transparent;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}


.heading-underline-center {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	&::after {
		width: 150px;
		height: 1px;
		background-color: black;
		content: "";
		margin-top: 5px;
	}
}

.heading-underline-center-white {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	&::after {
		width: 150px;
		height: 1px;
		background-color: #fff;
		content: "";
		margin-top: 5px;
	}
}

.heading-underline-left {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 20px;
	&::after {
		display: block;
		width: 75%;
		height: 1px;
		background-color: black;
		content: "";
		margin-top: 5px;
	}
}

.meet-dr {
	.grid-2-column:last-child {
		order: 2;
	}
	img {
		@extend .pb-3;
		@extend .pb-md-0;
		max-width: 280px;
		margin:auto;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}

.cta-h2-mb-none {
	h2 {
		@extend .mb-0;
	}
}

#qualifications {
	ul {
		padding: 0;
		padding-left: 20px;
	}
}

//Footer


.footer-map {
	padding: 0;
	.lg-map {
		@include media-breakpoint-down(sm) {
			height: 350px;
		}
	}
}

#site-footer .row {
	margin-left: 0;
	margin-right: 0;
	a:hover {
		color: #7c8087;
	}
	.footer-logo {
		img {
			min-width: 200px;
		}
	}
}

.footer-cta {
	display: flex;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	@extend .px-2;
	@extend .py-1;
	i {
		margin-right: 5px;
	}
	&:hover {
			background-color: black;
			color: white;
		}
}

//service

.our-services {
	&.row {
		justify-content: space-between;
		@include media-breakpoint-up(md){
			.col-md-6 {
				flex: 0 0 45%;
				max-width: 45%;
			}
		}
		@include media-breakpoint-up(lg){
			.col-lg-4 {
				flex: 0 0 30%;
				max-width: 30%;
			}
		}
	}
	.service-provided {
		padding: 0px;
		margin: 15px;
		.service-image {
			height: 300px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.service-content-wrapper {
				display: none;
			.service-content {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, .8);
				.heading-underline-center-white {
					margin-bottom: 0;
				}
			}
		}
	}	
}



